@import '../../../styles/settings.scss';

.root {

  .head {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .title {
    font-size: 45px;
    font-style: oblique;
  }
}
